body {
    font-family: 'Arial', sans-serif;
    background-color: #3F3F3F ;
}

.disclaimer1 {
    margin-top: 70px;
    color: whitesmoke;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 5%;
    box-shadow: 0 2px 20px rgba(236, 233, 233, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
}

.nav-brand h1 {
    text-decoration: none;
    color: #f17007;
    font-weight: 1000;
    font-size: 2.4rem;
    transition: all 0.3s ease;
    padding: 0.5rem 1rem;
    border-radius: 15px;
}

.nav-brand h1:hover {
    background: rgba(249, 247, 247, 0.167);
    transform: translateY(-1px);
}

h1 {
    text-align: center;
    color: red;
}